body{
    background-position: center;
    background-size: cover;
    padding: 1em;
    text-align: center;
    background-repeat: no-repeat;
    background-color: blanchedalmond;
}

span {
    font-size: 1.6em;
}
.title {
    font-size: 2.5em;
    font-style: italic;
}

div {
    font-size: 1.1em;
}
